#depositContainer {
	float: left;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;

}

.DepositInputElement {
	height: 35px;
	width: 550px;
}

#depositItemNote {
	font-size: 14px;
	font-weight: 500;
	opacity: .7;
}

.imageUploader {
	height: 100px;
}

.uploadPicturesWrapper {
	height: 200px;
	width: 300px;
}

.fileContainer {
	height: 120px;
	width: 300px;
}

#uploaderL, #uploaderR {
	display: inline-block;
	width: 50%;
}

.chooseFileButton {
	height: auto;
}

#depositForm * input[type=number]::-webkit-inner-spin-button, 
#depositForm * input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}