
#LogInDiv {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	width: 500px;
	height: 300px;
	margin: auto;
	margin-top: 100px;
}

#LogInTitle {
	background-color: #90EE90;
}

#LogInButton {
	margin-top: 10px;
}

.Login * label {
	display: inline-block;
	text-align: right;
	width: 100px;
}

.Login * button {
	width: 50%;
}

.LogInFormElement {
	width: 50%;
}