#psContainer {
	text-align: left;
}

#psTitle {
	text-align: left;
	margin-left: 30px;
}

#profileEditButton {
	width: 60px;
	height: 30px;
	margin-left: 60px;
}

#settingsContainer {
	margin-left: 50px;
}

#notifContainer {
	line-height: 10px;
	width: 700px;
	border-bottom: solid;
	border-width: 1px;
}

#securityContainer {
	line-height: 10px;
	width: 700px;
	border-bottom: solid;
	border-width: 1px;
}

#securityButton {
	width: 140px;
	height: 40px;
	float: left;
}

#instruction {
	opacity: .7;
	font-size: 15px;
}

.securityDropdown {
	height: 25px;
	width: 200px;
}

span.userInfoLabels {
	float: left;
	text-align: left;
	margin-left: 50px;
	font-size: 14px;
	line-height: 5px;
}

span.userInfo {
	float: left;
	text-align: left;
	margin-left: 30px;
	font-size: 14px;
	line-height: 5px;
}

span.SettingsLabels {
	float: left;
	text-align: left;
	line-height: 35px;
}

span.SettingsCheckboxes {
	float: left;
	text-align: left;
	margin-left: 20px;
}

span.SecurityItems {
	float: left;
	text-align: left;
}