
.dayBtn {
	background: none;
	border-radius: 0px;
	width: 22px;
	height: 22px;
	padding: 0px;
}

.schedulerComponent {
	float: left;
	margin-left: 10px;
}

.activeWeekdayBtn {
	background-color: yellow;
}

#repeatCheckboxDiv {
	float: left;
}

#applyScheduleBtn {
	margin-top: 10px;
}

#repeatDaysInput {
	width: 40px;
}

#RepeatDaysSpan {
	float: left;
	display: none;
}