.Transfer {
	text-align: left;
	float: left;
	margin-left: 50px;
}

#scheduleTransferBtn {
	margin-left: 300px;
	height: 35px;
}

#transferForm > label{
	margin-top: 5px;
	margin-bottom: 5px;
}

#transferForm > .transferFormElement{
	height: 35px;
	width: 550px;
}


#transferForm > button {
	float: left;
	margin-top: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}