.Transfer {
	text-align: left;
	float: left;
	margin-left: 50px;
	position: relative;
}

#scheduleTransferBtn {
	margin-left: 300px;
	height: 35px;
}

#transferForm > label{
	margin-top: 5px;
	margin-bottom: 5px;
}

#transferForm > .transferFormElement{
	height: 35px;
	width: 550px;
}


#transferForm > button {
	float: left;
	margin-top: 10px;
}

#schedulerDiv {
	float: left;
	width: 350px;
	height: 300px;
	border: 1px solid;
	display: none;
	position: absolute;
	left: 650px;
	top: 140px;
	
}

#cancelTransferBtn {
	margin-top: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}